<div class="page-header">
  <h1><%=t '.title', :default => "Browse by Symptoms" %></h1>
</div>

<% @symptoms.each do |symptom| %>


<%= link_to( "<button class='btn btn-primary' > (#{symptom.items.count} products) #{symptom.title} </button>".html_safe, symptom, style: 'color:#FFFFFF; margin:2px;' ) %>



<% end %>
