<p>
  <form class="navbar-form" role="search" method="get" id="search-form" name="search-form" action="/search">
  <div class="input-group input-group-lg">
      <input type="text" class="form-control" style="width: 350px;"  placeholder="full word title or detail search" id="q" name="q" value="">
      <div class="input-group-btn">
       <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-search"></span></button>
       </div>
  </div>
  </form>
</p>

<p>
  <a class="btn btn-primary btn-lg" style="margin-left:15px; width: 400px; color:#FFFFFF;" href="/tags">
  Browse Products by Benefits or Info</a> 
</p>

<p>
  <a class="btn btn-primary btn-lg" style="margin-left:15px;color:#FFFFFF; width: 400px;" href="/symptoms">
  Browse Products by Symptom</a> 
</p>   