<p> </p>
<div class="jumbotron" >

<div style="margin: 20px;">
  <h1>Herb Online</h1>
    <p >A green thumb requires a strong back but herbal online delivers with only a click (and a pretty light one at that)!</p>
</div>

<%= render 'search' %>
</div>




