<p> </p>

<div class="jumbotron" >

<div style="margin: 20px;">
  <h1>Herb Online</h1>
    <p >A green thumb requires a strong back but herbal online delivers with only a click (and a pretty light one at that)!</p>
</div>

<%= render 'search' %>
  <!-- 
   <p style="padding-left:15px;"><a class="btn btn-primary btn-lg" style="width: 350px;" ref="#" role="button">Browse Products by Tag</a></p>

   <p style="padding-left:15px;"><a class="btn btn-primary btn-lg" style="width: 350px;" ref="#" role="button">Browse Products by Symptom</a></p>
-->

</div>




