<div id="nav"></div>
<div class="cart" style="float: right;">
cart: <%= cart_link %>
</div>

<h2>Herbal Online</h2>
<p> <a href="/protected.html">Another page that has a logout link</a></p>

<div class="jumbotron">

  <h1>Herbal Online</h1>
    <p>A green thumb requires a strong back but herbal online delivers only needs a click (and a pretty light one at that)!</p>



  <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
  <div class="input-group input-group-lg">
      <input type="text" class="form-control " placeholder="Symptom, Plant or subject..." id="q" name="q" value="">
      <div class="input-group-btn">
       <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-search"></span></button>
       </div>
  </div>
  </form>

   <p><a class="btn btn-primary btn-lg" href="#" role="button">Browse Products by Tag</a></p>

   <p><a class="btn btn-primary btn-lg" href="#" role="button">Browse Products by Symptom</a></p>


</div>
<div id=footer>
footer info
</div>

