<div id="shipping_address" cclass="col-lg-4" data-no-turbolink>
	<h3>
		Shipping Address
		<span class="btn btn-info"><a href="#" id="copy">copy from billing</a><span>
	</h3>

	<%= f.fields_for :shipping_address do |shipping_address| %>
	<%= render "address_form", :address => shipping_address, :type => "shipping" %>
	<% end -%>
</div>
