<div class="page-header">
  <h1><%=t '.title', :default => "Browse by category" %></h1>
</div>

<% @categories.each do |category| %>

	<%= link_to( "<button class='btn btn-info' style='margin:2px;'> (#{category.items.count} products) #{category.title} </button>".html_safe, category) %>


<% end %>