<div class="page-header">
  <h1><%=t '.title', :default => "Browse by category" %></h1>
</div>

<% @categories.each do |category| %>
  <span class="btn btn-primary" style="margin:2px;">
        <%= link_to( "(#{category.items.count} products) #{category.title}", category, style: 'color:#FFFFFF;') %>
  </span>
<% end %>