<div class="row">
  
<p id="notice"><%= notice %></p>
<div class="page-header lead"> Category <%= @category.title %></div>

<!-- show matching items -->
<% @category.items.each do |item| %>
<div class="row">
<%= render partial: "items/simple", object: item  %>
</div>
<% end %>

</div>
