<!-- footer @ /app/view/layouts/_footer.html.erb -->
<div id="push"></div>
 </div>

  <div id="footer" >
    <div class="container center" style="margin-left: auto; margin-right: auto; width: 70%; ">
      <p class="test credit" style="margin-left: auto; margin-right: auto; "> HerbOnline is a fake store brought to you by <a href="#">Group9</a> and <a href="http://en.wikipedia.org/wiki/K">the letter K</a></p>
    </div>
  </div>
