<!-- footer @ /app/view/layouts/_footer.html.erb -->
<div id="col-md-8 col-md-offset-2">
  <div id="footer">
    <div class="container">
      <p class="muted credit"> HerbOnline is a fake store brought to you by <a href="#">Group9</a> and <a href="http://en.wikipedia.org/wiki/K">the letter K</a></p>
    </div>
  </div>
 </div>